.chat-entry.local {
  text-align: left;
}

.chat-entry.local .entry-time {
  text-align: right;
}

.chat-entry.local .entry-bubble {
  background-color: #ffffe0;
  border-radius: 20px;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.chat-entry.local .entry-bubble::before {
  background-color: #ffffe0;
  content: "";
  height: 20px;
  position: absolute;
  bottom: -10px;
  left: -18px;
  transform: rotate(45deg);
  width: 20px;
}

.chat-entry.local .entry-bubble:hover::before {
  background-color: #fefea2;
}

.chat-entry.remote {
  text-align: right;
}

.chat-entry.remote .entry-time {
  text-align: left;
}

.chat-entry.remote .entry-bubble {
  background-color: #e0ffff;
  border-radius: 20px;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.chat-entry.remote .entry-bubble::before {
  background-color: #e0ffff;
  content: "";
  height: 20px;
  position: absolute;
  bottom: -10px;
  right: -18px;
  transform: rotate(45deg);
  width: 20px;
}

.chat-entry.remote .entry-bubble:hover::before {
  background-color: #a9f6f6;
}
