/* .entry-bubble {
  background-color: #ffffe0;
  border-radius: 30px;
  max-width: 50rem;
  min-width: 10rem;
  padding: 1rem 1rem 0.1rem 1rem;
  position: relative;
  width: fit-content;
}

.entry-bubble:hover {
  background-color: #fefea2;
}

.entry-bubble::before {
  content: '';
  height: 22px;
  width: 44px;
  clip-path: polygon(100% 0, 0 0, 50% 100%);
  position: absolute;
  top: 0;
}

.chat-entry.local .entry-bubble {
  background-color: #ffffe0;
}

.chat-entry.local .entry-bubble::before {
  background-color: #ffffe0;
  left: -18px;
}

.chat-entry.local .entry-bubble:hover::before {
  background-color: #fefea2;
}

.chat-entry.remote .entry-bubble {
  background-color: #e0ffff;
  margin-left: auto;
  margin-right: 0;
}

.chat-entry.remote .entry-bubble::before {
  background-color: #e0ffff;
  right: -18px;
}

.chat-entry.remote .entry-bubble:hover::before {
  background-color: #a9f6f6;
} */
