button {
  background: none;
	color: inherit;
	border: none;
	padding: 10px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.sender {
  display: flex;
  flex-direction: row;
}

.remote .sender {
  justify-content: right;
}

.local .icon:first-of-type::before {
  content: '';
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background: url('../../images/vladimir.jpg');
  background-size: 2.1em;
  display: inline-block;
  margin: 0 1em 0.5em 0;
}

.remote .icon:last-of-type::after {
  content: '';
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background: url('../../images/estragon.jpeg');
  background-size: 2.1em;
  display: inline-block;
  margin: 0 0 0.5em 1em;
}

.chat-entry {
  margin: 1rem;
}

.chat-entry:last-child {
  margin-bottom: 0;
}

.chat-entry .entry-bubble {
  border-radius: 30px;
  max-width: 50rem;
  min-width: 10rem;
  padding: 1rem 1rem 0.1rem 1rem;
  position: relative;
  width: fit-content;
}

#App.night .chat-entry .entry-bubble {
  box-shadow: 0.1em 0.5em 1em rgba(0,0,0,0.8);
}

#App.day .chat-entry .entry-bubble {
  box-shadow: 0.1em 0.5em 1em rgba(76, 71, 96, 0.5);
}

.chat-entry .entry-name {
  font-size: medium;
  margin-bottom: 0.5rem;
}

.chat-entry .entry-time {
  color: #bbb;
  font-size: x-small;
  margin-bottom: 0.1rem;
  margin-right: 0.5rem;
}

/* Chat bubble arrow styling */
.chat-entry .entry-bubble::before {
  content: '';
  height: 22px;
  width: 44px;
  clip-path: polygon(100% 0, 0 0, 50% 100%);

  position: absolute;
  top: 0;
}

/* "local" messages are shown on the left side */
.chat-entry.local {
  text-align: left;
}

.chat-entry.local .entry-time {
  text-align: right;
}

#App.day .chat-entry.local .entry-bubble {
  background-color: #ffffe0;
}

#App.night .chat-entry.local .entry-bubble {
  background-color: #4a1535;
}

#App.day .chat-entry.local .entry-bubble:hover {
  background-color: #fefea2;
}

#App.night .chat-entry.local .entry-bubble:hover {
  background-color: #5e154d;
}

#App.day .chat-entry.local .entry-bubble::before {
  background-color: #ffffe0;
  left: -18px;
}

#App.night .chat-entry.local .entry-bubble::before {
  background-color: #4a1535;
  left: -18px;
}

#App.day .chat-entry.local .entry-bubble:hover::before {
  background-color: #fefea2;
}

#App.night .chat-entry.local .entry-bubble:hover::before {
  background-color: #5e154d;
}

/* "remote" messages are shown on the right side, in blue */
.chat-entry.remote {
  text-align: right;
}

#App.day .chat-entry.remote .entry-bubble {
  background-color: #e0ffff;
  margin-left: auto;
  margin-right: 0;
}

#App.night .chat-entry.remote .entry-bubble {
  background-color: #111838;
  margin-left: auto;
  margin-right: 0;
}

#App.day .chat-entry.remote .entry-bubble:hover {
  background-color: #a9f6f6;
}
#App.night .chat-entry.remote .entry-bubble:hover {
  background-color: #152a4d;
}

.chat-entry.remote .entry-time {
  text-align: left;
}

#App.day .chat-entry.remote .entry-bubble::before {
  background-color: #e0ffff;
  right: -18px;
}

#App.night .chat-entry.remote .entry-bubble::before {
  background-color: #111838;
  right: -18px;
}

#App.day .chat-entry.remote .entry-bubble:hover::before {
  background-color: #a9f6f6;
}

#App.night .chat-entry.remote .entry-bubble:hover::before {
  background-color: #152a4d;
}