#App {
  background-color: #87cefa;
  min-height: 100vh;
}

#App header {
  background-color: #425288;
  color: #fff;
  padding: 1rem 0;
  position: fixed;
  width: 100%;
  z-index: 100;
  text-align: center;
}

#App main {
  padding: 10rem 2em 5rem;
}

#App h1 {
  font-size: 1.5em;
  text-align: center;
}

#App header section {
  background-color: #e0ffff;
}

.widget {
  display: inline-block;
  line-height: 0.5em;
  border-radius: 10px;
  color: black;
  font-size: 0.8em;
  padding: 0.5em 1em; 
}

#App #heartWidget {
  font-size: 1.5em;
  margin: 1em;
}

#App span {
  display: inline-block;
}

.red {
  color: #b22222;
}

.orange {
  color: #e6ac00;
}

.yellow {
  color: #e6e600;
}

.green {
  color: green;
}

.blue {
  color: blue;
}

.purple {
  color: purple;
}