@font-face {
  font-family: Consolas;
  src: url('../fonts/CONSOLA.TTF');
}

button:active {
  transform: translateY(0.1em);
}

/*Set background images*/

#App.day {
  background: url('../images/clouds.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

#App.night {
  background: url('../images/nightsky.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

/*Handle menu toggles for day/night mode and collapsing header*/

#collapseToggle, #modeToggle {
  position: absolute;
  padding: 0;
  top: 2rem;
}

#collapseToggle {
  left: 2rem;
  font-size: 2rem;
}

#modeToggle {
  right: 2rem;
  background: linear-gradient(180deg, white 0.5%, #86a8c6 20%, #617d97);
  width: 2rem;
  height: 2rem;
  padding: 0;
  font-size: 1.7rem;
  border-radius: 6px;
  outline: 0.12rem solid #5a738b;
  text-shadow: 0 0 0.8rem #222;
}

/*Header-specific styles*/

#headerWidgets {
  width: 60%;
  height: 5.5rem;
  margin: 0 auto 0.5rem;
  justify-content: space-around;
  align-items: space-around;
}

#App.visible #headerWidgets {
  display: flex;
}

#App.hidden #headerWidgets {
  display: none;
}

#App header {
  background-color: rgb(34, 34, 34);
  color: #fff;
  position: fixed;
  width: 100%;
  z-index: 100;
  text-align: center;
}

#App h1 {
  font-size: 1.5em;
  text-align: center;
  display: inline-block;
  margin-bottom: 0.25em;
}


#App header h2 {
  margin: 0.25rem;
  font-size: 1.25rem;
}

#App header h1, #App header h2, .entry-name {
  font-family: Consolas, 'Courier New', Courier, monospace;
}

#App #firstSenderColor {
  display: flex;
  flex-direction: column;
}
        /*Buttons for resetting*/

#App .headerButton {
  background-color: #7698d3;
  border-radius: 6px;
  color: #222;
  margin: 0 0.5rem;
  padding: 0.5rem;
  outline: none;
  text-align: center;
}

/* Styles for main content */

#App main {
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 4rem;
  padding-top: 12.5rem;
  min-width: 300px;
  max-width: 800px;
  width: 650px;
  margin: 0 auto;
}

#App.day main {
  background-color: rgba(255,255,255, 0.4);
}

#App.night main{
  background-color: rgba(115, 115, 115, 0.4);
  color: #eee;
}

#App.night main .entry-name {
  text-shadow: 0 0.1em 0.3em black;
}

#App.day main .entry-name {
  color:rgb(15, 32, 69);
}

#App.visible main{
  padding-top: 12.5rem;
}

#App.hidden main {
  padding-top: 6rem;
}

#App #heartWidget {
  font-size: 1.25em;
  color: #fff;
}

#App #middleSpan {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

#App.day main p {
  color: #222;
}

#App.night main p {
  color: #eee;
}

/*Color class definitions*/

#App.day main .red {
  color: #b22222
}

header .red, #App.night main .red {
  color:#da5151
}

#App.day main .orange {
  color: #d35f00
}

header .orange, #App.night main .orange {
  color: #e6ac00
}

#App.day main .yellow {
  color: #c5a112
}

header .yellow, #App.night main .yellow {
  color: #e6e600
}

#App.day main .green {
  color: green
}

header .green, #App.night main .green {
  color: rgb(73, 198, 73)
}

#App.day main .blue {
  color: rgb(8, 8, 92)
}

header .blue, #App.night main .blue {
  color: rgb(81, 122, 255)
}

#App.day main .purple {
  color: rgb(86, 7, 126)
}

header .purple, #App.night main .purple {
  color: rgb(190, 124, 229)
}




